<div class="btn-toolbar">
  <span style="font-size:16px;color:#999;line-height:30px">Question <span id="question-pos">1</span> of <%= questions.size %></span>
  <div style="float:right;" class="btn-group">
    <a onclick='mySwipe.prev();return false;' href="#" class="btn"><i class="icon-chevron-left"></i></a>
    <a onclick='mySwipe.next();return false;' href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </div>
</div>
<div id='slider'>
  <ul style="margin:0">
    <% display = 'block'; questions.each do |question| %>
      <li style='display:<%= display %>'>
        <%= question.body %>
        <% question.answers.each do |answer| %>
          <% if @status == 0 %>
            <button onclick="$('.question<%= question.id %>').removeClass('btn-success');$(this).addClass('btn-success');save_answer(<%= question.id %>,<%= answer.id %>);" class="question<%= question.id %> btn btn-large disabled"><%= answer.body %></button>
          <% else %>
            <% if Submission.where("page_id = ? AND user_id = ? AND question_id = ?", @page.id, current_user.id, question.id).first.answer_id == answer.id %>
              <button class="btn-success btn btn-large disabled">
              <% if question.answer_id == answer.id %>
                <i class="icon-ok icon-white"></i>&nbsp;
              <% end %>
            <% else %>
              <button class="btn btn-large disabled">
              <% if question.answer_id == answer.id %>
                <i class="icon-ok"></i>&nbsp;
              <% end %>
            <% end %> 
            <%= answer.body %></button>
          <% end %>
        <% end %>
      </li>
      <% display = 'inline' %>
    <% end %>
  </ul>
</div>