<div class="row-fluid">
  <div class="span8">
    <div class="well"><iframe height="298px;" width="100%" src="http://www.youtube.com/embed/RpOHZc6cDIw" frameborder="0" allowfullscreen></iframe></div>
  </div>
  <div class="span4">
    <div style="height:323px;padding:9px 0;" class="well sidebar-nav">
      <ul class="message-center nav nav-list">
        <% @page.messages.reverse.each do |message| %>
          <% if message.user_id %>
            <%= render :partial => "messages/from_user", :locals => { :message => message } %>
          <% else %>
            <%= render :partial => "messages/announcement", :locals => { :message => message } %>
          <% end %>
        <% end %>
      </ul>
    </div><!--/.well -->
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    <center>
      <img style="max-height:200px;width:auto;" src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=Hello%20world"/>
    </center>
  </div>
  <div class="span10">
    <div style="margin-top:18px;" class="well">
      <center>
        <h1 style="line-height:50px;">Join here: <%= link_to "http://spinit.herokuapp.com" +play_path, play_path %></h1>
      </center>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="all-users" style="padding:19px;">
      <% @page.users.reverse.each do |user| %>
        <%= render :partial => "pages/user", :locals => { :user => user } %>
      <% end %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div style="height:350px;" class="well" id="map"></div>
  </div>
<div>
<script type="text/javascript">

  $(function() {
    $("#map").gmap3({
      action: 'init',
      options:{
        center:[37.60315,-122.189004],
        zoom:9,
        maxZoom:18,
        disableDefaultUI:true
      }
    });

    <% @page.users.each do |user| %>
      <% if !user.position.nil? %>
        drop_marker(<%= user.id %>, <%= user.position.latitude %>, <%= user.position.longitude %>);
      <% end %>
    <% end %>

    $('#map').gmap3({
      action:'autofit'
    });
  }); //<--- end document ready

  var channel = pusher.subscribe('page-<%= @page.id %>');

  /*
  channel.bind('pusher:subscription_succeeded', function(members) {
    members.each(function(member) {
      alert('subscribed' + member.id);
      if(member.id != 0) {
        //drop_marker(member);
        //add_to_people(member);
      }
    });
  });
  */

  channel.bind('update_position', function(data) {
    remove_marker(data.user_id);
    drop_marker(data.user_id, data.latitude, data.longitude);
  });

  channel.bind('new_user', function(data) {
    if($('.user' + data.user_id).length == 0) {
      $(".all-users").prepend(data.user_html); 
    }
  });

  function drop_marker(user_id, latitude, longitude) {
    $('#map').gmap3({
      action: 'addMarker',
      latLng:[latitude,longitude],
      tag:'user'+user_id,
      options:{
        animation: google.maps.Animation.DROP/*,
        icon: new google.maps.MarkerImage(member.info.image, new google.maps.Size(20, 20), new google.maps.Point(0,0), new google.maps.Point(0, 32), new google.maps.Size(25, 25))*/
      },
      events:{
        mouseover: function(marker){
          $('.user' + user_id).tooltip('toggle');
        },
        mouseout: function() {
          $('.user' + user_id).tooltip('toggle');
        }
      }
    },
    "autofit"
    );
  }

  function remove_marker(user_id) {
    $('#map').gmap3({
      action:'clear', 
      name:'marker', 
      tag:'user'+user_id
    },
    "autofit"
    ); 
  }
</script>