<!DOCTYPE html>
<html>
<head>
  <title>Spinit</title>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="http://js.pusher.com/1.11/pusher.min.js"></script>
  <script>
    var pusher = new Pusher('<%= Pusher.key %>');
  </script>
  <%= csrf_meta_tags %>

  <style>
    .sidebar-nav {
      height:254px;
      overflow-y:scroll;
      overflow-x:hidden;
    }
    .answers li {
      display: inline-block;
      padding: 5px 14px;
      background-color: #fdfdfd;
      border: 1px solid #DDD;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border-image: initial;
      color:#00ccff;
      margin: 15px 10px 0 0;
    }
    /*
    .person {
      float:left;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      background-color: #fdfdfd;
      text-align:center;
      -moz-box-shadow: 1px 1px 1px 1px #eee;
      -webkit-box-shadow: 1px 1px 1px 1px #eee;
      box-shadow: 1px 1px 1px 1px #eee;
      width:150px;
      margin:12px;
    }
    */
    .answered {
      background:#e4ffe4;
      border: 1px solid green;
    }
    .waiting {
      background:#fffadc;
    }
    #slider {

    }
    #slider li {
      font-size:16px;
    }
    #slider button {
      width:100%;
      margin-top:12px;
    }
    .person {
      display:inline-block;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      height:50px;
      width:50px;
      margin:5px 0 5px 5px;
    }
    .ribbon-wrap {
      color:#fefefe;
      font-size:10px;
      line-height:14px;
      text-transform:uppercase;
      text-align:center;
    }
    .blue-ribbon {
      background-image: linear-gradient(bottom, rgb(0,190,237) 2%, rgb(0,204,255) 57%);
      background-image: -o-linear-gradient(bottom, rgb(0,190,237) 2%, rgb(0,204,255) 57%);
      background-image: -moz-linear-gradient(bottom, rgb(0,190,237) 2%, rgb(0,204,255) 57%);
      background-image: -webkit-linear-gradient(bottom, rgb(0,190,237) 2%, rgb(0,204,255) 57%);
      background-image: -ms-linear-gradient(bottom, rgb(0,190,237) 2%, rgb(0,204,255) 57%);

      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(0,190,237)),
        color-stop(0.57, rgb(0,204,255))
      );
    }
    .yellow-ribbon {
      background-image: linear-gradient(bottom, rgb(245,171,24) 9%, rgb(255,204,0) 57%);
      background-image: -o-linear-gradient(bottom, rgb(245,171,24) 9%, rgb(255,204,0) 57%);
      background-image: -moz-linear-gradient(bottom, rgb(245,171,24) 9%, rgb(255,204,0) 57%);
      background-image: -webkit-linear-gradient(bottom, rgb(245,171,24) 9%, rgb(255,204,0) 57%);
      background-image: -ms-linear-gradient(bottom, rgb(245,171,24) 9%, rgb(255,204,0) 57%);

      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(245,171,24)),
        color-stop(0.57, rgb(255,204,0))
      );
    }
    .green-ribbon {
      background-image: linear-gradient(bottom, rgb(20,148,0) 9%, rgb(28,184,0) 57%);
      background-image: -o-linear-gradient(bottom, rgb(20,148,0) 9%, rgb(28,184,0) 57%);
      background-image: -moz-linear-gradient(bottom, rgb(20,148,0) 9%, rgb(28,184,0) 57%);
      background-image: -webkit-linear-gradient(bottom, rgb(20,148,0) 9%, rgb(28,184,0) 57%);
      background-image: -ms-linear-gradient(bottom, rgb(20,148,0) 9%, rgb(28,184,0) 57%);

      background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(20,148,0)),
        color-stop(0.57, rgb(28,184,0))
      );
    }

    @-webkit-keyframes pulse {
      from {
        -webkit-transform: scale(1.0);
        opacity: 0.5;
      }
      50% {
        -webkit-transform: scale(1.0);
        opacity: 1.0;
      }
      to { 
        -webkit-transform: scale(1.0);
        opacity: 0.5;
      }
    }

    .pulse { 
      opacity: 0.75; 
      -webkit-animation-name: pulse; 
      -webkit-animation-duration: 1.5s; 
      -webkit-animation-iteration-count:infinite; 
    }
    .message {
      display: block;
      padding: 4px 15px 4px;
      margin-left: -15px;
      margin-right: -15px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
      background:#0cf;
      color:white;
      border-bottom:1px dashed #00c8f8;
    }
    .nav-header {
      text-align:center;
      border-bottom:1px dashed #ddd;
    }
  </style>
</head>
<body style="padding-top:10px;padding-bottom:20px;border-top:6px solid #00ccff;max-width:900px;margin: 0 auto;">

  <div class="container-fluid">
    <%= yield %>
  </div><!--/.fluid-container-->

</body>
</html>
